body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



.anuncio {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--cinza-claro);
  color: var(--grafite);

  border-radius: 5px;
  padding: 2rem;
}

.imagesContainer {
  display: flex;
  gap: 1rem;
}


.infoContainer {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.infoContainer div span:first-child {
  font-weight: bold;
}
