.anunciosInteresseContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-items: center;
}


.cardInteresse{
    background-color:var(--cinza-claro);
    border-radius: 10px;
 
    padding: 1rem;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.campos{
    padding: 10px;
    font-size: 1.3rem;
}

.anuncioInteresseTitle{

    padding: 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

main h1 {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .anuncioInteresseContainer {
    grid-template-columns: 1fr;
    }

    .cardInteresse{
        width: 90%;
    }
  
  
  }